
body {
  background-color: lightblue;
  background-image:url(https://www.google.nl/search?q=background&rlz=1C1LENP_enNL561NL561&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjP3f-h4cTWAhWNblAKHZS6CZAQ_AUICigB&biw=1600&bih=794#imgrc=DAQS0zU5E_w5EM:);
}

h1 {
  color: yellow;
}
